# Docker
.docker/data

# Environment files
.env
.env.*
!.env.example

# OS specific
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local docker volumes
mysql-data/
redis-data/